# ======================
# OS (macOS)
# ======================
.DS_Store

# ======================
# Node.js
# ======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# ======================
# IDE / Editor
# ======================
.idea/
.vscode/
*.swp

# ======================
# Java
# ======================
target/
build/
out/
*.class
*.jar
*.war
*.ear

# ======================
# Logs
# ======================
*.log

# ======================
# Environment variables
# ======================
.env